<% session.delete(:cart_id) %>
<% @cart.checkout_cart %>
<h2>Congratulations,  You have Plcaed your order</h2>

<%= link_to 'Go to HomePage', products_path, class: "btn btn-primary" %>

<%-# debug @session -%>
<%-# debug @payment_intent -%>