<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DEVSHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-4">
    <%  if user_signed_in? %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= edit_user_registration_path %>">Update Profile</a>
          <div class="dropdown-divider"></div>
          <%= link_to "Sign Out", destroy_user_session_path,method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create An Account</a>
      </li>
    <% end %>
    <li class="nav-item"><%= @count %></li>
  </div>
</nav>