@import "bootstrap";
@import "font-awesome";

.button_to {
  display: inline;
}
.button_to input[value="CheckOut"] {
  width: 100%;
  background-color: #d39e00;
  color: white;
}
.cart-icon {
  font-size: 23px;
}
.login-form {
  margin-top: 12%;
}
.form-card {
  width: 400px;
}
